#order .top{height: 1.40625rem;width:100%;line-height: 1.40625rem;text-align: center;margin-bottom: 0.15625rem;
background: #f9fafd;position: fixed;top: 0;left: 0;z-index: 100;}
#order .top_zw{height: 1.71875rem;}
#order .menu{height: 1.09375rem;width: 100%;overflow:auto;border: 1px solid #d2d2d2;border-left:none ;
border-right: none;background: #fff;margin-bottom: 0.25rem;}
#order .menu ul{width: 20.3125rem;}
#order .menu li{width: 2.03125rem;float: left;text-align: center;line-height: 1.09375rem;}
#order .menu .click{font-weight: bold;}


#order .shop{background: #fff;}
#order .shop>p{height: 0.9375rem;width: 100%;display: flex;align-items: center;border: 1px solid #cccccc;border-left: none;border-right: none;}
#order .shop>p span{
	height: 60%;width: 0.15625rem;background: #30aeff;margin: 0 0.3125rem 0 0.234375rem;
}
#order .shop .shop-list li{height: 3.5rem;border: 1px solid #CCCCCC;border-left: none;border-right: none;
display: flex;align-items: center;justify-content: flex-start;position: relative;}
#order .shop .shop-list li img{width: 4.578125rem;height: 3.140625rem;}
#order .shop .shop-list li .cnt{height: 80%;}
#order .shop .shop-list li .cnt p{line-height: 0.625rem;width: 4.296875rem;}
#order .shop .shop-list li .cnt p:last-of-type{color: red;font-weight: bold;margin-top: 0.625rem;}
#order .shop .shop-list li .cnt span{display: block;width: 1.078125rem ;height: 1.078125rem;position: absolute;right: 0.625rem;bottom: 0.46875rem;background: url(../../images/order/main/newOder_05.png);background-size: 1.078125rem 1.078125rem;}
